$border-color: #000;
$clock-size: 80vmin;
$minute-color: #0700ff;
$second-color: #2c8000;
$center-color: #f6a603;
$minute-width: 3vmin;
$minute-length: 20vmin;
$second-width: 1.5vmin;
$second-length: 38vmin;
$center-size: 5vmin;
